

@{
    ViewData["Title"] = "ViewAll";
    Layout = "~/Views/Shared/_PropertyManager.cshtml";
}

        <section>
            <form>
                <div>
                    <div class="row">

                        <div class="col-lg-7">
                            <input autocomplete="off" type="search" class="form-control rounded" placeholder='Search' name="index" id="index" style="min-width: 225px" />
                        </div>
                        <div class="col-lg-2">
                            <button style="border: none; border-radius: 5px; background-color: #5543ca" type="submit">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="col-lg-3">
                            <label for="type" class="searchByLabel">Filter By: </label>
                            <select id="type" class="searchByList" name="type">
                                <option value="id">ID</option>
                                <option value="size">Size</option>
                                <option value="address">Address</option>
                                <option value="status">Status</option>
                                <option value="price">price</option>

                            </select>
                        </div>
                    </div>

                </div>
            </form>
        </section>
        <table class="table table-hover">
            <tr>
                <th>HouseId</th>
                <th>HouseSize</th>
                <th>Price</th>
                <th>Address</th>
                <th>HouseStatus</th>
                <th>HouseType</th>
                <th>HouseFloorNo</th>
                <th>Update</th>
                <th>Delete</th>

            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.HouseId</td>
                    <td>@item.HouseSize</td>
                    <td>@item.Price</td>
                    <td>@item.Address</td>
                    <td>@item.HouseStatus</td>
                    <td>@item.HouseType</td>
                    <td>@item.HouseFloorNo</td>


                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="PropertyManager" asp-route-HouseId="@item.HouseId" asp-action="Edit" class="btn btn-outline-primary">Update</a>

                        </div>
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a class="btn btn-outline-danger" href="/PropertyManager/deleteHouse?id=@item.HouseId">Delete</a>

                        </div>
                    </td>
                </tr>
            }
        </table>


<!--Main layout-->
